@media screen and (max-width: 1200px) {
  .navigation {
    flex-direction: column;
    margin-bottom: 23px;
    margin-left: 43px;
    margin-right: 1px;
  }

  .nav-left {
    flex-direction: column;
    text-align: center;
  }

  .content-right {
    display: none;
  }

  .home-article {
    flex-direction: column;
  }

  .home-article-img {
    text-align: center;
  }

  .year-box {
    top: 25px;
    left: 60vw;
    font-size: 11px;
    display: flex;
  }

  .year-box div {
    padding: 0 3px;
    margin: 0;
  }

  .home-article img {
    width: 70vw;
  }
  .form-input {
    width: 50%;
  }
  .form-box input,
  textarea {
    width: 66vw;
  }
  .row {
    flex-direction: column;
  }
  .social {
    padding: 0;
  }
  .post-img {
    height: auto;
  }
  .adjust-year {
    position: static;
    height: auto;
    padding: 12px 0px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  .content-center{
    text-align: center;
    font-family: var(--font1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1px;
    z-index: 1;
  }
  .content-mobile {
    height: 100%;
    display: flex;
    margin-top: 32px;
    padding: 2px;
    position: relative;
  }
  .m-mobile{
    margin-left: 43px;
    margin-right: -1px;
    padding: 3px;
  }
}
